* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
	overflow: hidden;
	font-family: "Raleway", sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
	transition: color 0.1s, border-bottom 0.1s;
}
footer a {
	border-bottom: 1px dotted rgb(179, 179, 179);
}
a:hover {
	color: rgba(179, 179, 179, 0.412);
	border-bottom: none;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #fff;
	font-family: monospace;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 30px;
}

p {
	color: rgb(179, 179, 179);
	margin-bottom: 20px;
	min-width: 300px;
	max-width: 430px;
	text-align: center;
}
h4 {
	font-weight: 600;
	animation: fadeIn 1s;
}
.box {
	animation: fadeIn 1s 1;
}
.icons {
	width: 40px;
	margin-right: 10px;
}
footer {
	color: rgb(179, 179, 179);
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	right: 4px;
}

.input {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input:first-child {
	display: flex;
}
.input input {
	margin-left: 10px;
	padding: 2px 5px;
	background-color: #fff;
}
.day {
	margin-left: 10px;
	padding: 2px 5px;
	cursor: pointer;
	background-color: #fff;
}
.day {
	width: calc(100% - 10px);
}

.option .checked-option input[type="checkbox"] {
	visibility: hidden;
}
.option .checked-option input[type="checkbox"]:checked + label {
	transform: rotate(360deg);
}
.option .checked-option input[type="checkbox"]:checked + label:before {
	transform: translateX(29px);
}

.option .checked-option label {
	display: flex;
	width: 60px;
	height: 30px;
	border: 3px solid;
	border-radius: 99em;
	position: relative;
	transition: transform 0.75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
}
.checked-option {
	display: flex;
	margin-right: 13px;
}
.option .checked-option label:before {
	transition: transform 0.75s ease;
	transition-delay: 0.5s;
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 50%;
	top: 5px;
	left: 5px;
}

.option--class {
	display: none;
}
.option {
	margin: 5px 0 30px 0;
	display: flex;
	align-items: center;
}
.option p {
	margin-bottom: 0;
	min-width: 0;
	max-width: 200;
	color: #fff;
}
p.active {
	color: rgb(108, 108, 108);
}
.d-none {
	display: none;
	transform: translateX(500px);
}
.d-block {
	display: block;
}
.animation-out {
	transition: transform 0.4s;
	transform: translateX(-500px);
}
.animation-in {
	animation: animation-in 0.4s;
}
.input p {
	font-size: 12px;
	text-align: left;
	margin-bottom: 0;
	font-family: monospace;
}
.left {
	display: flex;
	flex-direction: column;
}
.right {
	width: 100%;
}
.result {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	display: none;
	/* animation: fadeIn 1s; */
}
.result h4 {
	font-weight: 400;
	margin-right: 20px;
}
.result span {
	/* display: flex; */
	align-items: flex-start;
}
.result span a {
	font-family: monospace;
	font-size: 20px;
	color: rgb(179, 179, 179);
	text-decoration: underline;
}
.result span li {
	font-family: monospace;
	font-size: 20px;
	color: rgb(179, 179, 179);
	display: flex;
	justify-content: space-between;
}
.result span li a {
	margin-left: 10px;
}
.result span ul {
	list-style: none;
}
.result span a:hover {
	color: rgb(119, 119, 119);
	text-decoration: underline;
}
.error {
	display: none;
	color: #f00;
	animation: fadeIn 1s;
}
.button {
	border: #fff solid 1px;
	padding: 5px 20px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.4s, width 0.5s, color 0.5s;
}
.button:hover {
	background-color: #fff;
	width: 130px;
	color: #000;
	font-weight: 600;
}
.magnifier {
	margin-left: 6px;
	opacity: 0%;
	transition: opacity 0.3s;
	margin-right: -24px;
}
.button:hover .magnifier {
	opacity: 100%;
}
.buttons {
	display: flex;
	justify-content: flex-end;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation-in {
	0% {
		transform: translateX(500px);
	}
	100% {
		transform: translateX(0);
	}
}
@media only screen and (max-width: 960px) {
	h1 {
		font-size: 30px;
	}
	h4 {
		font-size: 15px;
	}
	li {
		font-size: 13px;
	}
	p {
		font-size: 14px;
	}
	.option .checked-option input[type="checkbox"]:checked + label:before {
		transform: translateX(29px);
	}
	.option .checked-option label:before {
		width: 10px;
		height: 10px;

		top: 4px;
		left: 3px;
	}
	.option .checked-option label {
		width: 50px;
		height: 25px;
	}

	.icons {
		width: 34px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 562px) {
	.input {
		flex-direction: column;
		align-items: flex-start;
	}
	.input input {
		margin-left: 0;
		width: 100%;
	}
	.day {
		margin-left: 0;
		width: 100%;
	}
	.right {
		margin-top: 10px;
		width: 100%;
	}
	.buttons {
		justify-content: flex-start;
	}
}
